<ion-app>
  <ion-menu menuId="avocadoMenu" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Komata</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="none">
          <ion-icon slot="start" name="business"></ion-icon>
          <ion-label>Find</ion-label>
        </ion-item>
        <ion-item >
          <ion-icon slot="start" name="checkbox-outline"></ion-icon>
          <ion-label>your Bookings</ion-label>
        </ion-item>
        <ion-item lines="none" (click)="logout()" button>
          <ion-icon slot="start" name="exit" ></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
